@charset "UTF-8";
/* CSS Document */

	h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans'; }

	body { font-family: 'Lato'; }

	#header p { font-family: 'Gotham'; }

	.flex-caption h2 {background: #d6b746!important;}
	
	#homeSlideshow .preloading span {background: #d6b746;}
	#fancybox-close:hover {background: #d6b746;}
	span.onsale {background: #d6b746 !important;}
	.product .price	{color: #d6b746 !important;}

#header .inside .top p, .sf-menu a, #mainNav ul a, .sf-menu li.sfHover ul a, #mainNav ul li.sfHover ul a { color: #ccc7c7 !important;	}
	#logo h1, #header h1, #header h1 a, #header h1 a:hover{ color: #6b6b6b !important;	}

	#mainNav ul li.current a,
	#mainNav ul li.current-cat a,
	#mainNav ul li.current_page_item a,
	#mainNav ul li.current-menu-item a,
	#mainNav ul li.current-post-ancestor a,	
	.single-post #mainNav ul li.current_page_parent a,
	#mainNav ul li.current-category-parent a,
	#mainNav ul li.current-category-ancestor a,
	#mainNav ul li.current-portfolio-ancestor a,
	#mainNav ul li.current-projects-ancestor a {
		color: #46a2d2 !important;		
	}
	.sf-menu li a:hover,
	#mainNav ul li.sfHover a,
	#mainNav ul li a:hover,
	#mainNav ul li:hover {
		color: #46a2d2 !important;	
	}
	.sf-menu li.sfHover ul a:hover, #mainNav ul li.sfHover ul a:hover { color: #46a2d2 !important;}	

a { color: #46a2d2;}
a:hover {color: #3682b1;}
a.button, .widget_price_filter .button, .cart .button, #searchsubmit, input[type="submit"], button {background-color: #46a2d2 !important;}
.button:hover, .widget_price_filter .button:hover, .cart .button:hover, #searchsubmit:hover, input[type="submit"]:hover, button:hover {background-color: #3682b1 !important;}

